.container {
  padding: 0 2rem;
}

.posts {
  margin: 3rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 3rem;
    }

    strong {
      display: block;
      font-size: 1.5rem;
      color: var(--text-heading);
      margin-top: 1rem;
      line-height: 2rem;
      transition: filter 0.2s;
    }

    &:hover strong {
      filter: brightness(0.9);
    }
  }
  p {
    color: var(--text-body);
    margin-top: 0.5rem;
    line-height: 1.625rem;
  }

  .icons {
    display: flex;
    font-size: 0.8rem;

    span {
      margin-right: 0.5rem;
    }

    p {
      & + p {
        margin-left:1rem;
      }
    }
  }
}

.loadMoreLink {
  margin-top: 2rem;
  padding-top: 2rem;

  a {
    color: var(--highlight);
    font-weight: 600;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
